*:focus {
    outline:none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #eee;
    font-family: 'Times New Roman', Times, serif;
}

.pageButtons {
    display: flex;
    justify-content: center;
    margin-top:25px;
}

.pageLink {
    margin-right:20px;
    margin-left:16px;
    font-size: 25px;
    line-height: 1.5;
    color:#555;
}

.pageLink:hover {
    text-decoration: none;
    color:#333;
}

.buttonDots {
    font-size:20px;
    margin-right:4px;
}

.articleBody {
    font-size: 22px;
}

.articleBody p {
    line-height: 1.25em;
    margin-bottom: 1.25em;
}

.articlecard {
    color: #000;
    display: inline-block;
    width:300px;
    margin: 10px;
    text-align: left;
}

.articlecard img {
    width:100%;
    max-height:350px;
    min-height: 150px;
    object-fit: cover;
    object-position: center;
}

.dropdown-item {
    cursor: pointer;
}

.contentWrapper {
    width:1000px;
    padding:20px;
    background-color: #fff;
    min-height: 100vh;
    margin-left: calc(50% - 500px);
}

.column {
    width: calc(100% / 3);
    display:inline-block;
    vertical-align: top;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:28px;
    position: absolute;
    left: calc(50% - 96px);
}

.right {
    position: absolute;
    right:16px;
}

.logo a {
    text-decoration: none;
    color:white;
}

.nav-item {
    font-size:20px;
}

footer {
    background-color: #333;
    color:#fff;
    height: 250px;
    width:100%;
}

footer div {
    padding-top:200px;
    font-size: 12px;
}

footer img {
    display:block;
    margin-bottom: 30px;
    height:150px;
    margin-left: calc(50% - 500px);
}

.articleContent {
    color: black;
}

.articleContent img {
    width:100%;
    height:500px;
    object-fit: cover;
    object-position: top;
}

#titleInput {
    font-size:36px;
    width:100%;
    height:auto;
}

#imgInput {
    width: 400px;
}

#bodyInput {
    width:100%;
    height: 200px;
    margin-bottom:10px;
}

#liveContainer {
    transition: height 0.5s !important;
    width:10000px;
    height:50px;
    border-bottom:1px solid #ddd;
    background-color: white;
}

.hideLive {
    height:0px !important;
    transition: height 0.5s !important;
    border:none;
}

.alert {
    margin:0;
    position:fixed;
    width:100%;
    z-index:100;
}

#liveView {
    min-height: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    z-index: 10;
    width:100%;
    overflow-x: hidden;
    overflow-y: visible;
}

#liveButton:hover {
    height:15px;
    transition: height 0.2s;
}

#liveButton {
    z-index:1;
    position: absolute;
    margin-top:-1px;
    cursor: pointer;
    width:100vw;
    height: 5px;
    transition: height 0.1s;
    background: linear-gradient(to bottom, #5e3b3b, #995a5a 50%)
}

#buffer {
    widows: 100px;
    height:78px;
}

.liveBox {
    transition: height 0.5s !important;
    overflow: hidden;
    padding:5px 10px;
    height:50px;
    display: inline-block;
    margin-right:-1px;
    border-right:1px solid #eee;
    border-left:1px solid #eee;
}

.liveBox a:hover {
    text-decoration: none;
}

.liveInnerBox{
    color:#000;
}

.liveInnerBox p {
    height:20px;
    margin-bottom:0;
}

.XYInput {
    flex:auto !important;
}

.XYInput input {
    -webkit-appearance: none;
    appearance: none;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    height: 10px;
    border-radius: 5px;
}

.XYInput input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height:20px;
    background-color: #495057;
    border: 1px solid #ced4da;
    border-radius: 10px;
    cursor: pointer;
}

.XYInput input:-moz-range-thumb {
    width: 20px;
    height:20px;
    background-color: #495057;
    border: 1px solid #ced4da;
    border-radius: 10px;
    cursor: pointer;
}

